@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap");

* {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  font-size: 90%;
  box-sizing: border-box;
}

.myGame {
  margin: 3em auto;
  max-width: 700px;
  width: 50em;
}

body {
  font-family: "Press Start 2P";
  color: #eee;
  background-color: #222;
  /* background-color: #60b347; */
  overflow-y: hidden;
}

h1 {
  margin: 1em auto;
  text-align: center;
}

header p {
  text-align: center;
}

button {
  font-family: "Press Start 2P";
}

header {
  border-bottom: 4px solid green;
  padding-bottom: 0.8em;
}

main {
  color: #eee;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.left {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 1em;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3em 0px;
  margin-left: 3em;
  width: 65%;
}

.right p {
  margin: 1em;
}

#guessedNumber {
  background: #eee;
  color: #333;
  font-size: 1em;
  font-weight: bold;
  padding: 1em;
  width: 12em;
  text-align: center;
  margin-top: 0;
  margin-bottom: 2em;
}

#myNumber {
  border: 4px solid #eee;
  padding: 1rem 0px;
  width: 10em;
  text-align: center;
  margin: 1em auto;
}

.btn {
  background-color: #eee;
  color: #222;
  padding: 1rem 2rem;
  cursor: pointer;
}

.btn:hover {
  background-color: #ccc;
}
