@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap");

* {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

@media (min-width: 1000px) {
  html {
    font-size: 84%;
    box-sizing: border-box;
  }

  .myGame {
    margin: 1.5em auto;
    max-width: 650px;
    width: 50em;
    padding: 1em;
  }

  main {
    display: flex;
  }

  .right {
    align-items: center;
    width: 90%;
  }
}

@media only screen and (device-width: 768px) {
  html {
    font-size: 100%;
    box-sizing: border-box;
  }

  .myGame {
    margin: 0em auto;
    max-width: 650px;
    width: 50em;
    padding: 1em;
  }

  main {
    display: flex;
  }

  .right {
    align-items: center;
    width: 80%;
  }
}

@media only screen and (max-device-width: 480px) {
  html {
    font-size: 100%;
    box-sizing: border-box;
  }

  .myGame {
    margin: 1em auto;
    max-width: 350px;
    width: 50em;
    padding: 1em;
  }

  .right {
    padding-top: 1em;
  }
}

body {
  font-family: "Press Start 2P";
  color: #eee;
  background-color: #222;
  /* background-color: #60b347; */
}

h1 {
  margin: 0.5em auto;
  text-align: center;
  line-height: 1.8em;
}

header p {
  text-align: center;
}

button {
  font-family: "Press Start 2P";
}

header {
  border-bottom: 0.3em solid green;
  margin-bottom: 1em;
}

main {
  margin-top: 2em;
  color: #eee;
  align-items: center;
  justify-content: space-around;
}

.left {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: auto 2em;
}

.right {
  display: flex;
  flex-direction: column;
}

.right p {
  margin: 1em;
  line-height: 2em;
}

#guessedNumber {
  background: #eee;
  color: #333;
  font-size: 1em;
  font-weight: bold;
  padding: 1em;
  width: 12em;
  text-align: center;
  margin-top: 0;
  margin-bottom: 2em;
}

#myNumber {
  border: 0.2em solid #eee;
  padding: 1rem 0px;
  width: 9em;
  text-align: center;
  margin: 1em auto;
}

.btn {
  background-color: #eee;
  color: #222;
  padding: 1rem 2rem;
  cursor: pointer;
}

.btn:hover {
  background-color: #ccc;
}
